<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="head">
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible">
        <title>Netflix</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/css/main.css" th:href="@{/css/main.css}">
        <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js" integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9" crossorigin="anonymous"></script>
        <script src="main.js"></script>
    </th:block>
</html>